extends ../layouts/layout.pug
block main-content
    //- Huu
    block banner
        include ../patials/banner.pug
    block products
        include ../patials/products.pug
    block icon-box
        include ../patials/icon-box.pug
    //- Khanh
