.category-page-title {
    padding: 37.5px 0px;
    font-size: 1.85rem;
    text-transform: uppercase;
    .nav {
        a {
            color: rgba(100, 100, 100, 0.75);
            &:last-child {
                color: #000;
                font-weight: 500
            }
        }
        a:hover {
            color: #222;
            text-decoration: none;
        }
<<<<<<< HEAD
        span.divider{
            margin: 0 8.5px;
            color: rgba(100, 100, 100, 0.75)
        }
    }
=======
       }
       a.d-flex{
        color: rgba(102,102,102,0.7);
       }
       a:hover{
        color: #222;
        text-decoration: none;
       }
       span.divider{
           margin: 0 8.5px;
           color: rgba(102,102,102,0.7);
       }
   }
>>>>>>> 097d031a31a7e752f3bc6f0ed1f85f4989fb7d0f
}
.detail-product {
    .row {
        .sidebar {
            padding: 0px;
            .sidebar-title {
                font-size: 1.65rem;
                color: #000;
                font-weight: 500;
                padding: 0px 0px 25px
            }
            .sidebar-content {
                .widget-list-product {
                    border: 2.5px solid #ddd;
                    border-radius: 5px;
                    padding: 17.5px;
                    ul.menu {
                        width: 100%;
                        li {
                            list-style-type: none;
                            border-bottom: 1px dashed #ddd;
                            font-size: 15px;
                            padding: 5px 0px;
                            .menu-category {
                                display: flex;
                                justify-content: space-between;
                                align-items : center
                            }
                            .button-collapse {
                                cursor: pointer
                            }
                            i {
                                margin-right: 5px;
                                opacity: 0.75;
                                font-size: 10px
                            }
                            a {
                                color: #334862;
                                text-decoration: none
                            }
                            ul {
                                border-left: 1px dashed #ddd;
                                ul.sub-menu {
                                    li.sub-item {
                                        border-bottom: 1px dashed #ddd;
                                        list-style-type: none;
                                        margin-left: 20px;
                                        margin-top: 8px;
                                        margin-bottom: 8px;
                                        font-size: 12px;
                                        a {
                                            color: #334862;
                                            text-decoration: none;
                                        }
                                        a:hover{
                                            color: #000;
                                            text-decoration: none;
                                        }
                                    }
                                    li.sub-item:last-child {
                                        border: none;
                                    }
                                }
                            }
                        }
                        li:last-child {
                            border: none
                        }
                    }
<<<<<<< HEAD
=======
                    ul.list{
                        li.list-item{
                            list-style-type: none;
                            border-bottom: 1px dashed #ddd;
                            font-size: 14px;
                            padding: 6px 0px;
                            list-style-type: none;
                            a{
                                img{
                                    margin-right: 15px;;
                                }
                                span.name{
                                    line-height: 1.3;
                                    font-size: 14px;
                                    color: #334682;
                                }
                                span.name:hover{
                                    color: #000;
                                    text-decoration: none;
                                }
                                span.cost{
                                    line-height: 1.3;
                                    font-size: 14px;
                                    color: #111;
                                    font-weight: 500;
                                }
                            }
                        }
                        li.list-item:last-child {
                            border: none;
                        }
                    }
                }
            }
            .sidebar-title2 {
                font-size: 1.65rem;
                color: #000;
                font-weight: 500;
                padding: 24px 0px 24px;
            }
            .sidebar-content{
                .widget-list-product{
                    ul.list{
                        li.list-item{
                            a{
                                color: #222;
                                text-decoration: none;
                            }
                            a:hover{
                                color: #000;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .products{
            padding: 0 15px 30px;
            width: 100%;
            .form{
                .form-row{
                    .col-3.col-sm-3.form-group{
                        a{
                            color: #000;
                            text-decoration: none;
                            img{
                                max-width: 200px;
                                height: auto;
                            }
                            span.name{
                                line-height: 1.3;
                                font-size: 14.5px;
                                color: #334682;
                                text-align: center;
                            }
                            span.name:hover{
                                color: #222;
                                text-decoration: none;
                            }
                            span.cost{
                                line-height: 1.3;
                                font-size: 14.5px;
                                color: #111;
                                font-weight: 500;
                                text-align: center;
                                padding: 10px;
                            }
                        }
                    }
>>>>>>> 097d031a31a7e752f3bc6f0ed1f85f4989fb7d0f
                }
            }
        }
    }
}

.rotate {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease
}
