.userEdit {
    width: 60%;
    margin: 4rem auto;
    padding: 0;
    .form-group {
        border-left: 0.1rem solid rgb(225, 225, 255);
        border-right: 0.1rem solid rgb(225, 225, 255);
        margin-bottom: 0;
        label {
            &:first-child {
                padding-top: 2rem;
            }
            font-weight: 500;
            padding: 1rem 0 0 0;
            margin: 1rem 0 0 2rem;
            width: 90%;
        }
        input {
            font-size: 1.5rem;
            width: 90%;
            height: 3.5rem;
            margin: 1rem 1.5rem 0 2rem;
        }
    }
    .nav-item {
        width: 50%
    }
    .nav-link {
        border: 0.1rem solid rgb(225, 225, 255);
        border-bottom: none;
        text-align: center;
        font-weight: bold;
        padding: 1rem 1rem
    }
    .btnEdit {
        padding: 1rem 0 1rem 0;
        border: 0.1rem solid rgb(225, 225, 255);
        border-top: none;
        input {
            height: 3.5rem;
            margin: 1.5rem 0 1.5rem 2rem;
            width: 10rem;
            font-size: 1.5rem;
            font-weight: 500;
            background-color: #FF0000;
            border: none;
            color: white
        }
    }
}

@media screen and (max-width: 600px) {
    .accountManagement {
        width: 100%;
    }
}
