//- ul.menu
//-     li Dụng Cụ Văn Phòng
//-         ul.subMenu
//-             li.subItem Bấm Kim
//-             li.subItem Bấm Lỗ
//-     li Giấy
//-         ul.subMenu
//-             li.subItem Giấy A4
//-             li.subItem Giấy A3
.container
    .category-page-title
            .nav
                a(href="#") Trang chủ
                span.divider /
                a(href="#") Dụng cụ văn phòng
    .detail-product
        .row
            .sidebar.col-3
                .sidebar-title DANH MỤC SẢN PHẨM
                .sidebar-content
                    .widget-list-product.d-flex
                        ul.menu
                            li
                                i.fas.fa-star
                                span
                                    a(href="#") Giúp bạn chọn
                            li
                                .menu-category
                                    a(href="#") Dụng cụ văn phòng
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                                ul.d-none
                                    li.menu-item
                                        a.item(href="#") Bấm kim
                                    li.menu-item
                                        a.item(href="#") Bấm lỗ
                                    li.menu-item
                                        a.item(href="#") Dao kéo
                                    li.menu-item
                                        a.item(href="#") Kim bấm
                                    li.menu-item
                                        a.item(href="#") Kẹp sách - Gáy sách
                                    li.menu-item
                                        a.item(href="#") Băng keo - Cắt keo
                                    li.menu-item
                                        a.item(href="#") Keo dán
                                    li.menu-item
                                        a.item(href="#") Thước - Compa
                                    li.menu-item
                                        a.item(href="#") Dây buộc
                                    li.menu-item
                                        a.item(href="#") Đóng dấu - Tampon
                            li
                                .menu-category
                                    a(href="#") Giấy
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                                ul.d-none
                                    li.menu-item
                                        a.item(href="#") Giấy in ấn
                                    li.menu-item
                                        a.item(href="#") Giấy in fax - liên tục
                                    li.menu-item
                                        a.item(href="#") Giấy notes
                                    li.menu-item
                                        a.item(href="#") Giấy chuyên dụng
                                    li.menu-item
                                        a.item(href="#") Khăn giấy - Giấy vệ sinh
                            li
                                .menu-category
                                    a(href="#") Bìa hồ sơ
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                            li
                                .menu-category
                                    a(href="#") Bút viết
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                            li
                                .menu-category
                                    a(href="#") Tập sổ
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                            li
                                .menu-category
                                    a(href="#") Lưu trữ
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                            li
                                .menu-category
                                    a(href="#") Thiết bị
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                            li
                                .menu-category
                                    a(href="#") Tiện ích
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                            li
                                .menu-category
                                    a(href="#") Mực - Ruban
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                .sidebar-title SẢN PHẨM
                .sidebar-content
                    .widget-product

            .products.col-9