.container
    .category-page-title
            .nav
                a(href="#") Trang chủ
                span.divider /
                a(href="#") Dụng cụ văn phòng
    .detail-product
        .row
            .sidebar.col-3
                .sidebar-title DANH MỤC SẢN PHẨM
                .sidebar-content
                    .widget-list-product.d-flex
                        ul.menu
                            li
                                i.fas.fa-star
                                span
                                    a(href="#") Giúp bạn chọn
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Dụng cụ văn phòng
                                    a(data-toggle='collapse' href='#collapseOne' role='button' aria-expanded='false' aria-controls='collapseOne')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseOne.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Bấm kim
                                        li.sub-item
                                            a.item(href="#") Bấm lỗ
                                        li.sub-item
                                            a.item(href="#") Dao kéo
                                        li.sub-item
                                            a.item(href="#") Kim bấm
                                        li.sub-item
                                            a.item(href="#") Kẹp sách - Gáy sách
                                        li.sub-item
                                            a.item(href="#") Băng keo - Cắt keo
                                        li.sub-item
                                            a.item(href="#") Keo dán
                                        li.sub-item
                                            a.item(href="#") Thước - Compa
                                        li.sub-item
                                            a.item(href="#") Dây buộc
                                        li.sub-item
                                            a.item(href="#") Đóng dấu - Tampon
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Giấy
                                    a(data-toggle='collapse' href='#collapseTwo' role='button' aria-expanded='false' aria-controls='collapseTwo')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseTwo.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Giấy in ấn
                                        li.sub-item
                                            a.item(href="#") Giấy in fax - liên tục
                                        li.sub-item
                                            a.item(href="#") Giấy notes
                                        li.sub-item
                                            a.item(href="#") Giấy chuyên dụng
                                        li.sub-item
                                            a.item(href="#") Khăn giấy - Giấy vệ sinh
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Bìa hồ sơ
                                    a(data-toggle='collapse' href='#collapseThree' role='button' aria-expanded='false' aria-controls='collapseThree')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseThree.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Giấy in ấn
                                        li.sub-item
                                            a.item(href="#") Giấy in fax - liên tục
                                        li.sub-item
                                            a.item(href="#") Giấy notes
                                        li.sub-item
                                            a.item(href="#") Giấy chuyên dụng
                                        li.sub-item
                                            a.item(href="#") Khăn giấy - Giấy vệ sinh
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Bút viết
                                    a(data-toggle='collapse' href='#collapseFour' role='button' aria-expanded='false' aria-controls='collapseFour')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseFour.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Giấy in ấn
                                        li.sub-item
                                            a.item(href="#") Giấy in fax - liên tục
                                        li.sub-item
                                            a.item(href="#") Giấy notes
                                        li.sub-item
                                            a.item(href="#") Giấy chuyên dụng
                                        li.sub-item
                                            a.item(href="#") Khăn giấy - Giấy vệ sinh
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Tập sổ
                                    a(data-toggle='collapse' href='#collapseFive' role='button' aria-expanded='false' aria-controls='collapseFive')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseFive.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Giấy in ấn
                                        li.sub-item
                                            a.item(href="#") Giấy in fax - liên tục
                                        li.sub-item
                                            a.item(href="#") Giấy notes
                                        li.sub-item
                                            a.item(href="#") Giấy chuyên dụng
                                        li.sub-item
                                            a.item(href="#") Khăn giấy - Giấy vệ sinh
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Lưu trữ
                                    a(data-toggle='collapse' href='#collapseSix' role='button' aria-expanded='false' aria-controls='collapseSix')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseSix.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Giấy in ấn
                                        li.sub-item
                                            a.item(href="#") Giấy in fax - liên tục
                                        li.sub-item
                                            a.item(href="#") Giấy notes
                                        li.sub-item
                                            a.item(href="#") Giấy chuyên dụng
                                        li.sub-item
                                            a.item(href="#") Khăn giấy - Giấy vệ sinh
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Thiết bị
                                    a(data-toggle='collapse' href='#collapseSeven' role='button' aria-expanded='false' aria-controls='collapseSeven')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseSeven.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Giấy in ấn
                                        li.sub-item
                                            a.item(href="#") Giấy in fax - liên tục
                                        li.sub-item
                                            a.item(href="#") Giấy notes
                                        li.sub-item
                                            a.item(href="#") Giấy chuyên dụng
                                        li.sub-item
                                            a.item(href="#") Khăn giấy - Giấy vệ sinh
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Tiện ích
                                    a(data-toggle='collapse' href='#collapseEight' role='button' aria-expanded='false' aria-controls='collapseEight')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseEight.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Giấy in ấn
                                        li.sub-item
                                            a.item(href="#") Giấy in fax - liên tục
                                        li.sub-item
                                            a.item(href="#") Giấy notes
                                        li.sub-item
                                            a.item(href="#") Giấy chuyên dụng
                                        li.sub-item
                                            a.item(href="#") Khăn giấy - Giấy vệ sinh
                            li
                                .menu-category
                                    a.menu-category-title(href="#") Mực - Ruban
                                    a(data-toggle='collapse' href='#collapseNine' role='button' aria-expanded='false' aria-controls='collapseNine')
                                        i.fas.fa-chevron-down.menu-arrow.button-collapse
                                #collapseNine.collapse
                                    ul.sub-menu
                                        li.sub-item
                                            a.item(href="#") Giấy in ấn
                                        li.sub-item
                                            a.item(href="#") Giấy in fax - liên tục
                                        li.sub-item
                                            a.item(href="#") Giấy notes
                                        li.sub-item
                                            a.item(href="#") Giấy chuyên dụng
                                        li.sub-item
                                            a.item(href="#") Khăn giấy - Giấy vệ sinh


                .sidebar-title SẢN PHẨM
                .sidebar-content
                    .widget-list-product
                        ul.list
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/MR/Panasonic-FA136-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Ruban Panasonic FA136
                                    span.cost 170,000 ₫
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/MR/muc-in-epson-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Mực in Epson
                                    span.cost 350,000 ₫
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/DCVP/bam_lo_978-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Bấm 2 lổ 978 – 30 tờ
                                    span.cost 90,000 ₫
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/DCVP/YP003-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Keo Khô
                                    span.cost 140,000 ₫
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/BV/stained-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Bút viết lên áo – giày
                                    span.cost 100,000 ₫
            .products.col-9.row
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#", )
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/bam_lo_978-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Bấm 2 lỗ 978 - 30 tờ
                            span.cost.d-block 25,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#")
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/bk-50la-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Bấm kim 50LA – 210 tờ
                            span.cost.d-block 350,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#")
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/ban-cat-giay-a3-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Bàn cắt giấy A3
                            span.cost.d-block 210,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#")
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/scotch-magic-810-invisible-tape-19mm-x-33m-300x300.png", alt="")
                        .item-text
                            span.name.d-block Băng keo dán tiền
                            span.cost.d-block 45,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#", )
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/DraftingCompass-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Compa kỹ thuật
                            span.cost.d-block 50,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#")
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/rope-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Dây thừng lớn
                            span.cost.d-block 8,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#")
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/jumbo-push-pins-100-count-colorful-clear-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Đinh ấn màu
                            span.cost.d-block 10,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#")
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/Deli-7510-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Đóng 10 số tự động
                            span.cost.d-block 800,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#", )
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/YP003-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Keo khô
                            span.cost.d-block 140,000 ₫
                .col-sm-12.col-md-4.col-lg-3.product-item
                    a(href="#")
                        .item-image
                            img(src="../../assets/images/Categories/DCVP/kb-23-23-300x300.jpg", alt="")
                        .item-text
                            span.name.d-block Kim bấm 23/23 – 190 tờ
                            span.cost.d-block 30,000 ₫



