//- ul.menu
//-     li Dụng Cụ Văn Phòng
//-         ul.subMenu
//-             li.subItem Bấm Kim
//-             li.subItem Bấm Lỗ
//-     li Giấy
//-         ul.subMenu
//-             li.subItem Giấy A4
//-             li.subItem Giấy A3
.container
    .category-page-title
            .nav
                a(href="#") Trang chủ
                span.divider /
                a(href="#") Dụng cụ văn phòng
    .detail-product
        .row
            .sidebar.col-3
                .sidebar-title DANH MỤC SẢN PHẨM
                .sidebar-content
                    .widget-list-product.d-flex
                        ul.menu
                            li.menu-item
                                a(href="#")
                                    i.fas.fa-star
                                    span Giúp bạn chọn
                            li.menu-item
                                a.d-flex(href="#")
                                    span Dụng cụ văn phòng
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                                    #1.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bấm kim
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bấm lỗ
                                            li.sub-item
                                                a.item(href="#")
                                                    span Dao kéo
                                            li.sub-item
                                                a.item(href="#")
                                                    span Kim bấm
                                            li.sub-item
                                                a.item(href="#")
                                                    span Kẹp sách - Gáy sách
                                            li.sub-item
                                                a.item(href="#")
                                                    span Băng keo - Cắt keo
                                            li.sub-item
                                                a.item(href="#")
                                                    span Keo dán
                                            li.sub-item
                                                a.item(href="#")
                                                    span Thước - Compa
                                            li.sub-item
                                                a.item(href="#")
                                                    span Dây buộc
                                            li.sub-item
                                                a.item(href="#")
                                                    span Đóng dấu - Tampon
                            li.menu-item
                                a.d-flex(href="#")
                                    span Giấy
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                                    #2.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy in ấn
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy in fax - liên tục
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy notes
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy chuyên dụng
                                            li.sub-item
                                                a.item(href="#")
                                                    span Khăn giấy - G  iấy vệ sinh
                            li.menu-item
                                a.d-flex(href="#")
                                    span Bìa hồ sơ
                                    i.fas.fa-chevron-down.menu-arrow
                            li.menu-item
                                a.d-flex(href="#")
                                    span Bút viết
                                    i.fas.fa-chevron-down.menu-arrow
                            li.menu-item
                                a.d-flex(href="#")
                                    span Tập sổ
                                    i.fas.fa-chevron-down.menu-arrow
                            li.menu-item
                                a.d-flex(href="#")
                                    span Lưu trữ
                                    i.fas.fa-chevron-down.menu-arrow
                            li.menu-item
                                a.d-flex(href="#")
                                    span Thiết bị
                                    i.fas.fa-chevron-down.menu-arrow
                            li.menu-item
                                a.d-flex(href="#")
                                    span Tiện ích
                                    i.fas.fa-chevron-down.menu-arrow
                            li.menu-item
                                a.d-flex(href="#")
                                    span Mực - Ruban
                                    i.fas.fa-chevron-down.menu-arrow
                .sidebar-title SẢN PHẨM
                .sidebar-content
                    .widget-product

            .products.col-9


