ul.menu
    li Dụng Cụ Văn Phòng
        ul.subMenu
            li.subItem Bấm Kim
            li.subItem Bấm Lỗ
    li Giấy
        ul.subMenu
            li.subItem Giấy A4
            li.subItem Giấy A3