.container
    .category-page-title
            .nav
                a(href="#") Trang chủ
                span.divider /
                a(href="#") Dụng cụ văn phòng
    .detail-product
        .row
            .sidebar.col-3
                .sidebar-title DANH MỤC SẢN PHẨM
                .sidebar-content
                    .widget-list-product.d-flex
                        ul.menu
                            li.menu-item
                                a(href="#") 
                                    i.fas.fa-star
                                    span Giúp bạn chọn
                            li.menu-item
                                a.d-flex(href="#")
                                    span Dụng cụ văn phòng
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                                    #1.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bấm kim
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bấm lỗ
                                            li.sub-item
                                                a.item(href="#")
                                                    span Dao kéo
                                            li.sub-item
                                                a.item(href="#")
                                                    span Kim bấm
                                            li.sub-item
                                                a.item(href="#")
                                                    span Kẹp sách - Gáy sách
                                            li.sub-item
                                                a.item(href="#")
                                                    span Băng keo - Cắt keo
                                            li.sub-item
                                                a.item(href="#")
                                                    span Keo dán
                                            li.sub-item
                                                a.item(href="#")
                                                    span Thước - Compa
                                            li.sub-item
                                                a.item(href="#")
                                                    span Dây buộc
                                            li.sub-item
                                                a.item(href="#")
                                                    span Đóng dấu - Tampon
                            li.menu-item
                                a.d-flex(href="#")
                                    span Giấy
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                                    #2.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy in ấn
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy in fax - liên tục
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy notes
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy chuyên dụng
                                            li.sub-item
                                                a.item(href="#")
                                                    span Khăn giấy - G  iấy vệ sinh
                            li.menu-item
                                a.d-flex(href="#")
                                    span Bìa hồ sơ
                                    i.fas.fa-chevron-down.menu-arrow.button-collapse
                                    #3.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy in ấn
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy in fax - liên tục
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy notes
                                            li.sub-item
                                                a.item(href="#")
                                                    span Giấy chuyên dụng
                                            li.sub-item
                                                a.item(href="#")
                                                    span Khăn giấy - G  iấy vệ sinh
                            li.menu-item
                                a.d-flex(href="#")
                                    span Bút viết
                                    i.fas.fa-chevron-down.menu-arrow
                                    #4.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bút bi - Gel
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bút chì
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bút lông - Dạ quang
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bút chuyên dụng
                                            li.sub-item
                                                a.item(href="#")
                                                    span Ruột bút
                                            li.sub-item
                                                a.item(href="#")
                                                    span Phụ kiện bút
                            li.menu-item
                                a.d-flex(href="#")
                                    span Tập sổ
                                    i.fas.fa-chevron-down.menu-arrow
                                    #5.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Sổ tập
                                            li.sub-item
                                                a.item(href="#")
                                                    span Phiếu - Biểu mẫu
                            li.menu-item
                                a.d-flex(href="#")
                                    span Lưu trữ
                                    i.fas.fa-chevron-down.menu-arrow
                                    #6.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Khay kệ
                                            li.sub-item
                                                a.item(href="#")
                                                    span Hộp cắm bút
                                            li.sub-item
                                                a.item(href="#")
                                                    span Dụng cụ lưu trữ
                                            li.sub-item
                                                a.item(href="#")
                                                    span Khay Brochure - Menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bao thư
                                            li.sub-item
                                                a.item(href="#")
                                                    span Bảng tên
                                            li.sub-item
                                                a.item(href="#")
                                                    span Khung hình
                            li.menu-item
                                a.d-flex(href="#")
                                    span Mực - Ruban
                                    i.fas.fa-chevron-down.menu-arrow
                                    #7.item-content.hide
                                        ul.sub-menu
                                            li.sub-item
                                                a.item(href="#")
                                                    span Mực máy in
                                            li.sub-item
                                                a.item(href="#")
                                                    span Ruban - Film fax
                .sidebar-title2 SẢN PHẨM
                .sidebar-content
                    .widget-list-product
                        ul.list
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/MR/Panasonic-FA136-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Ruban Panasonic FA136
                                    span.cost 170,000 ₫
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/MR/muc-in-epson-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Mực in Epson
                                    span.cost 350,000 ₫
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/DCVP/bam_lo_978-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Bấm 2 lổ 978 – 30 tờ
                                    span.cost 90,000 ₫
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/DCVP/YP003-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Keo Khô
                                    span.cost 140,000 ₫
                            li.list-item.d-flex.align-items-center
                                a(href="#")
                                    img(width='60' height='60' src="../../assets/images/Categories/BV/stained-300x300.jpg", alt="")
                                a(href="#")
                                    span.name.d-block Bút viết lên áo – giày
                                    span.cost 100,000 ₫
            .products.col-9
                .form
                    .form-row
                        .col-3.col-sm-3.form-group
                            a(href="#", )
                                img(src="../../assets/images/Categories/DCVP/bam_lo_978-300x300.jpg", alt="")
                                span.name.d-block Bấm 2 lỗ 978 - 30 tờ
                                span.cost.d-block 25,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#")
                                img(src="../../assets/images/Categories/DCVP/bk-50la-300x300.jpg", alt="")
                                span.name.d-block Bấm kim 50LA – 210 tờ
                                span.cost.d-block 350,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#")
                                img(src="../../assets/images/Categories/DCVP/ban-cat-giay-a3-300x300.jpg", alt="")
                                span.name.d-block Bàn cắt giấy A3
                                span.cost.d-block 210,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#")
                                img(src="../../assets/images/Categories/DCVP/scotch-magic-810-invisible-tape-19mm-x-33m-300x300.png", alt="")
                                span.name.d-block Băng keo dán tiền
                                span.cost.d-block 45,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#", )
                                img(src="../../assets/images/Categories/DCVP/DraftingCompass-300x300.jpg", alt="")
                                span.name.d-block Compa kỹ thuật
                                span.cost.d-block 50,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#")
                                img(src="../../assets/images/Categories/DCVP/rope-300x300.jpg", alt="")
                                span.name.d-block Dây thừng lớn
                                span.cost.d-block 8,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#")
                                img(src="../../assets/images/Categories/DCVP/jumbo-push-pins-100-count-colorful-clear-300x300.jpg", alt="")
                                span.name.d-block Đinh ấn màu
                                span.cost.d-block 10,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#")
                                img(src="../../assets/images/Categories/DCVP/Deli-7510-300x300.jpg", alt="")
                                span.name.d-block Đóng 10 số tự động
                                span.cost.d-block 800,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#", )
                                img(src="../../assets/images/Categories/DCVP/YP003-300x300.jpg", alt="")
                                span.name.d-block Keo khô
                                span.cost.d-block 140,000 ₫
                        .col-3.col-sm-3.form-group
                            a(href="#")
                                img(src="../../assets/images/Categories/DCVP/kb-23-23-300x300.jpg", alt="")
                                span.name.d-block Kim bấm 23/23 – 190 tờ
                                span.cost.d-block 30,000 ₫
                        
            

