section.footer
    .line
    .footer-content
        .top-content.row
            .company-info.col-sm-6.col-lg-3
                .title
                    .title-img
                        img(src="../../../dist/assets/images/logo-officemona.png")
                .content
                    .icon-box.d-flex
                        .icon-box-img
                            i.fas.fa-map-marker-alt
                        .icon-box-text
                            span 319 C16 Lý Thường Kiệt, Phường 15, Quận 11, Tp.HCM
                    .icon-box.d-flex
                        .icon-box-img
                            i.fas.fa-phone-square
                        .icon-box-text
                            span 0126 922 0162
                    .icon-box.d-flex
                        .icon-box-img
                            i.fas.fa-envelope
                        .icon-box-text
                            span demonhunter@gmail.com
                    .icon-box.d-flex
                        .icon-box-img
                            i.fab.fa-skype
                        .icon-box-text
                            span demonhunterp
            .top-seller.col-sm-6.col-lg-3
                .title
                    h3 sản phẩm bán chạy
                .content.row
                    .content-item.col-lg-4
                        img(src="../../assets/images/but-da-quang-600x600.jpg", alt="")
                    .content-item.col-lg-4
                        img(src="../../assets/images/bk-50la-600x600.jpg", alt="")
                    .content-item.col-lg-4
                        img(src="../../assets/images/bam_lo_978-600x600.jpg", alt="")
                    .content-item.col-lg-4
                        img(src="../../assets/images/POS-Paper-receipt-bond-thermo-paper-roll-600x600.jpg", alt="")
                    .content-item.col-lg-4
                        img(src="../../assets/images/small-notebook-companion-600x600.jpg", alt="")
                    .content-item.col-lg-4
                        img(src="../../assets/images/stained-600x600.jpg", alt="")
            .menu.col-sm-6.col-lg-3
                .title
                    h3 menu
                .content
                    .icon-box.d-flex
                        .icon-box-img
                            i.fas.fa-book
                        .icon-box-text
                            a(href="#") Trang chủ
                    .icon-box.d-flex
                        .icon-box-img
                            i.fas.fa-book
                        .icon-box-text
                            a(href="#") Giới thiệu
                    .icon-box.d-flex
                        .icon-box-img
                            i.fas.fa-book
                        .icon-box-text
                            a(href="#") Cửa hàng
                    .icon-box.d-flex
                        .icon-box-img
                            i.fas.fa-book
                        .icon-box-text
                            a(href="#") Tin tức
                    .icon-box.d-flex
                        .icon-box-img
                            i.fas.fa-book
                        .icon-box-text
                            a(href="#") Liên hệ
            .list-product.col-sm-6.col-lg-3
                .title
                    h3 danh mục sản phẩm
                .content.d-flex
                    .content-part
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Dụng cụ văn phòng
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Bìa hồ sơ
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Tập sổ
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Thiết bị
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Mực – Ruban
                    .content-part
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Giấy
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Bút viết
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Lưu trữ
                        .icon-box.d-flex
                            .icon-box-img
                                i.fas.fa-book
                            .icon-box-text
                                a(href="#") Tiện ích
        .bottom-content.row
            .social-network.col-sm-6.col-lg-3
                .divider-line
                .title
                    h3 kết nối với chúng tôi
                .content.d-flex
                    .icon-box.d-flex
                            .icon-box-img
                                i.fab.fa-facebook-f
                    .icon-box.d-flex
                            .icon-box-img
                                i.fab.fa-instagram
                    .icon-box.d-flex
                            .icon-box-img
                                i.fab.fa-twitter

            .payments.col-sm-6.col-lg-3
                .divider-line
                .title
                    h3 chấp nhận thanh toán
                .content
                    img(src="../../assets/images/image-paypal.png", alt="")
            .register.col-sm-12.col-lg-6
                .divider-line
                .wrapper-regiter.d-flex
                    .register-text.col-sm-12.col-lg-6
                        .title
                            h3 đăng ký
                        .content
                            p Đăng ký để nhận được được thông tin mới nhất từ chúng tôi.
                    .register-button.col-sm-12.col-lg-6.d-flex
                        .btn.btn-danger
                            a(href="#") ĐĂNG KÝ
