section.container.supplier-gallery
    .productOthers
            .container-fluid
                h3.text-center nhà cung cấp
                .owl-carousel.owl-theme.slider-supplier.banner-inner
                    .item
                        .product-item
                            .product-image
                                img(src="http://mauweb.monamedia.net/officexinh/wp-content/uploads/2018/06/logo-philips.jpg", alt="")
                    .item
                        .product-item
                            .product-image
                                img(src="http://mauweb.monamedia.net/officexinh/wp-content/uploads/2018/06/logo-casio.jpg", alt="")
                    .item
                        .product-item
                            .product-image
                                img(src="http://mauweb.monamedia.net/officexinh/wp-content/uploads/2018/06/logo-epson.jpg", alt="")
                    .item
                        .product-item
                            .product-image
                                img(src="http://mauweb.monamedia.net/officexinh/wp-content/uploads/2018/06/logo-kw-trio.jpg", alt="")
                    .item
                        .product-item
                            .product-image
                                img(src="http://mauweb.monamedia.net/officexinh/wp-content/uploads/2018/06/logo-logitech.jpg", alt="")
                    .item
                        .product-item
                            .product-image
                                img(src="http://mauweb.monamedia.net/officexinh/wp-content/uploads/2018/06/logo-marco.jpg", alt="")
                    .item
                        .product-item
                            .product-image
                                img(src="http://mauweb.monamedia.net/officexinh/wp-content/uploads/2018/06/logo-parker.jpg", alt="")
                    .item
                        .product-item
                            .product-image
                                img(src="http://mauweb.monamedia.net/officexinh/wp-content/uploads/2018/06/logo-pentel.jpg", alt="")