section.menu-nav
        .container
            .top-navbar.flex-row
                .logo
                    a.nav-brand(href="#" alt="logo")
                        img(src="../../assets/images/logo-officemona.png", alt="logo")
                .search-form-wrapper
                    .search-form
                        form(action="", method="get")
                            .nav-search.flex-row
                                .flex-col.flex-grow
                                    input.search-field.mb-0(type="search" placeholder="Tìm nhanh sản phẩm ...")
                                .flex-col
                                    button.search-submit.mb-0.btn(type="submit")
                                        i.icon-search.fas.fa-search
                .account.justify-content-end
                    ul.nav
                        li.account-item
                            a.nav-top-link.nav-top-not-logged-in
                                span đăng nhập
                        li.header-divider
                        li.cart-item
                            a
                                span.header-cart-title giỏ hàng&nbsp
                                span.cart-price
                                    span.amount / 0&nbsp
                                        span.symbol đ
                                        i.fas.fa-shopping-basket.icon-basket
            .bot-navbar.flex-row
                ul.nav
                    li.hover-nav
                        a
                            i.fas.fa-star
                            span giúp bạn chọn
                    li.hover-nav
                        a
                            span dụng cụ văn phòng
                            i.fas.fa-chevron-down.arrow-down
                    li.hover-nav
                        a
                            span giấy
                            i.fas.fa-chevron-down.arrow-down
                    li.hover-nav
                        a
                            span bìa hồ sơ
                            i.fas.fa-chevron-down.arrow-down
                    li.hover-nav
                        a
                            span bút viết
                            i.fas.fa-chevron-down.arrow-down
                    li.hover-nav
                        a
                            span tập sổ
                            i.fas.fa-chevron-down.arrow-down
                    li.hover-nav
                        a
                            span lưu trữ
                            i.fas.fa-chevron-down.arrow-down
                    li.hover-nav
                        a
                            span thiết bị
                            i.fas.fa-chevron-down.arrow-down
                    li.hover-nav
                        a
                            span tiện ích
                            i.fas.fa-chevron-down.arrow-down
                    li.hover-nav
                        a
                            span mực - ruban
                            i.fas.fa-chevron-down.arrow-down
