section.menu-nav.position-relative
        .container
            .top-navbar.flex-row
                .logo
                    a.nav-brand(href="../../../dist/html/pages/index.html" alt="logo")
                        img(src="../../assets/images/logo-officemona.png", alt="logo")
                .search-form-wrapper
                    .search-form
                        form(action="", method="get")
                            .nav-search.flex-row
                                .flex-col.flex-grow
                                    input.search-field.mb-0(type="search" placeholder="Tìm nhanh sản phẩm ...")
                                .flex-col
                                    button.search-submit.mb-0.btn(type="submit")
                                        i.icon-search.fas.fa-search
                .account.justify-content-end
                    ul.nav
                        li.account-item
                            a.nav-top-link.nav-top-not-logged-in
                                span đăng ký
                        li.header-divider
                        li.account-item
                            a.nav-top-link.nav-top-not-logged-in
                                span đăng nhập
                        li.header-divider
                        li.cart-item
                            a
                                span.header-cart-title giỏ hàng&nbsp
                                span.cart-price
                                    span.amount / 0&nbsp
                                        span.symbol đ
                                        i.fas.fa-shopping-basket.icon-basket
            .bot-navbar.flex-row
                ul.nav
                    li.hover-nav
                        a(href="#")
                            i.fas.fa-star
                            span giúp bạn chọn
                    li.hover-nav
                        a(href="#")
                            span dụng cụ văn phòng
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") Bấm kim
                            li.nav-hover-dropdown
                                a(href="#") Bấm lỗ
                            li.nav-hover-dropdown
                                a(href="#") Dao kéo
                            li.nav-hover-dropdown
                                a(href="#") Kim bấm
                            li.nav-hover-dropdown
                                a(href="#") Kẹp sách - Gáy sách
                            li.nav-hover-dropdown
                                a(href="#") Băng keo - Cắt keo
                            li.nav-hover-dropdown
                                a(href="#") Keo dán
                            li.nav-hover-dropdown
                                a(href="#") Thước - Compa
                            li.nav-hover-dropdown
                                a(href="#") Dây buộc
                            li.nav-hover-dropdown
                                a(href="#") Đóng dấu - Tampon
                    li.hover-nav
                        a(href="#")
                            span giấy
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") Giấy in ấn
                            li.nav-hover-dropdown
                                a(href="#") Giấy in fax - liên tục
                            li.nav-hover-dropdown
                                a(href="#") Giấy notes
                            li.nav-hover-dropdown
                                a(href="#") Giấy chuyên dụng
                            li.nav-hover-dropdown
                                a(href="#") Khăn giấy - giấy vệ sinh
                    li.hover-nav
                        a(href="#")
                            span bìa hồ sơ
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") Bìa còng
                            li.nav-hover-dropdown
                                a(href="#") Bìa lưu trữ
                            li.nav-hover-dropdown
                                a(href="#") Bìa phân trang
                            li.nav-hover-dropdown
                                a(href="#") Bìa album
                    li.hover-nav
                        a(href="#")
                            span bút viết
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") Bút bi - Gel
                            li.nav-hover-dropdown
                                a(href="#") Bút chì
                            li.nav-hover-dropdown
                                a(href="#") Bút lông - Dạ quang
                            li.nav-hover-dropdown
                                a(href="#") Bút chuyên dụng
                            li.nav-hover-dropdown
                                a(href="#") Ruột bút
                            li.nav-hover-dropdown
                                a(href="#") Phụ kiện bút
                    li.hover-nav
                        a(href="#")
                            span tập sổ
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") Sổ tập
                            li.nav-hover-dropdown
                                a(href="#") Phiếu - Biểu mẫu
                    li.hover-nav
                        a(href="#")
                            span lưu trữ
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") Khay kệ
                            li.nav-hover-dropdown
                                a(href="#") Hộp cầm bút
                            li.nav-hover-dropdown
                                a(href="#") Dụng cụ lưu trữ
                            li.nav-hover-dropdown
                                a(href="#") Khay Brochure - Menu
                            li.nav-hover-dropdown
                                a(href="#") Bao thư
                            li.nav-hover-dropdown
                                a(href="#") Bảng tên
                            li.nav-hover-dropdown
                                a(href="#") Khung hình
                    li.hover-nav
                        a(href="#")
                            span thiết bị
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") CD - DVD - USB
                            li.nav-hover-dropdown
                                a(href="#") Bàn phím - Chuột
                            li.nav-hover-dropdown
                                a(href="#") Pin
                            li.nav-hover-dropdown
                                a(href="#") Máy tính
                            li.nav-hover-dropdown
                                a(href="#") Dụng cụ - Máy VP
                            li.nav-hover-dropdown
                                a(href="#") Thiết bị điện
                            li.nav-hover-dropdown
                                a(href="#") Bảng
                    li.hover-nav
                        a(href="#")
                            span tiện ích
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") DC vệ sinh
                            li.nav-hover-dropdown
                                a(href="#") Dung dịch tẩy rửa
                            li.nav-hover-dropdown
                                a(href="#") Gia dụng
                            li.nav-hover-dropdown
                                a(href="#") Thực phẩm
                            li.nav-hover-dropdown
                                a(href="#") Dược phẩm
                            li.nav-hover-dropdown
                                a(href="#") Tiện ích cá nhân
                    li.hover-nav
                        a(href="#")
                            span mực - ruban
                            i.fas.fa-chevron-down.arrow-down
                        ul.nav-dropdown
                            li.nav-hover-dropdown
                                a(href="#") Mực máy in
                            li.nav-hover-dropdown
                                a(href="#") Ruban - Film Fax
