section.product-content
    //- tab links
    .tabs
        .tabbed-product
            ul.nav-center.nav.navbar.tab-links
                li.active
                    a(href="#tab_dung-cu-van-phong") dụng cụ văn phòng
                li
                    a(href="#tab_giay") giấy
                li
                    a(href="#tab_bia-ho-so") bìa hồ sơ
                li
                    a(href="#tab_but-viet") bút viết
                li
                    a(href="#tab_tap-so") tập sổ
        //- tab content
        .wrapper-product
            .tab-content
                #tab_dung-cu-van-phong.tab.active
                    .row.row-cols-5
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/rope-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Dây thừng lớn
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 8,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/DraftingCompass-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Compa kỹ thuật
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 50,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/YP003-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Keo khô
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 140,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/scotch-magic-810-invisible-tape-19mm-x-33m-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Băng keo dán tiền
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 45,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/jumbo-push-pins-100-count-colorful-clear-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đinh ấn màu
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 10,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/kb-23-23-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Kim bấm 23/23 – 190 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 30,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/ban-cat-giay-a3-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bàn cắt giấy A3
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 210,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/bam_lo_978-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bấm 2 lổ 978 – 30 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 90,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/bk-50la-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bấm kim 50LA – 210 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 350,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                #tab_giay.tab
                    .row
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/8339a2117dc1707076a4e42cad823dfa-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Khăn giấy Pulppy
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 22,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/giay-lua-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Giấy lụa
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 5,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/Message-Flag-with-Dispenser-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Giấy notes – “Sign Here”
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 70,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/POS-Paper-receipt-bond-thermo-paper-roll-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Giấy cảm nhiệt POS
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 8,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/idea-a4-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Giấy Idea A4 80
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 75,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                #tab_bia-ho-so.tab
                    .row
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/display-books-a4-40-pockets-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bìa simili 40 lá
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 72,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/phan-trang-10-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Phân trang nhựa 10
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 10,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/master_ALV226-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Tấm lót cắt
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 150,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/bia-cong-10f-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bìa còng King Jim 10f
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 85,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                #tab_but-viet.tab
                    .row
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/got-but-chi-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Gọt chì siêu nhân Guangbo
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 45,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/montblanc-rollerball-mozart-refill-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Ruột bút Montblanc Legrand
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 280,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/stained-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bút viết lên áo – giày
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 100,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/but-da-quang-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bút lông bảng Pentel Maxiflo
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 35,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/pencil-marco-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bút chì Macro
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 72,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/but-ky-parker-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bút ký Parker
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 480,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                #tab_tap-so.tab
                    .row
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/calendar-cute-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bảng lịch văn phòng
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 40,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/small-notebook-companion-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Sổ da ghi chép
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 35,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
block icon-box
    include ../patials/icon-intro.pug

section.product-content
    //- tab links
    .tabs
        .tabbed-product
            ul.nav-center.nav.navbar.tab-links
                li.active
                    a(href="#tab_luu-tru") lưu trữ
                li
                    a(href="#tab_thiet-bi") thiết bị
                li
                    a(href="#tab_tien-ich") tiện ích
                li
                    a(href="#tab_muc-ruban") mực - ruban
        //- tab content
        .wrapper-product
            .tab-content
                #tab_luu-tru.tab.active
                    .row
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/rope-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Dây thừng lớn
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 8,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/DraftingCompass-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Compa kỹ thuật
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 50,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/YP003-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Keo khô
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 140,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/scotch-magic-810-invisible-tape-19mm-x-33m-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Băng keo dán tiền
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 45,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/jumbo-push-pins-100-count-colorful-clear-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đinh ấn màu
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 10,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/kb-23-23-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Kim bấm 23/23 – 190 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 30,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/ban-cat-giay-a3-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bàn cắt giấy A3
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 210,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/bam_lo_978-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bấm 2 lổ 978 – 30 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 90,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/bk-50la-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bấm kim 50LA – 210 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 350,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                #tab_thiet-bi.tab
                    .row
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/8339a2117dc1707076a4e42cad823dfa-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Khăn giấy Pulppy
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 22,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/giay-lua-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Giấy lụa
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 5,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/Message-Flag-with-Dispenser-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Giấy notes – “Sign Here”
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 70,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/POS-Paper-receipt-bond-thermo-paper-roll-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Giấy cảm nhiệt POS
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 8,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/idea-a4-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Giấy Idea A4 80
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 75,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                #tab_tien-ich.tab
                    .row
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/display-books-a4-40-pockets-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bìa simili 40 lá
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 72,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/phan-trang-10-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Phân trang nhựa 10
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 10,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/master_ALV226-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Tấm lót cắt
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 150,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/bia-cong-10f-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bìa còng King Jim 10f
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 85,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                #tab_muc-ruban.tab
                    .row
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/got-but-chi-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Gọt chì siêu nhân Guangbo
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 45,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/montblanc-rollerball-mozart-refill-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Ruột bút Montblanc Legrand
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 280,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/stained-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bút viết lên áo – giày
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 100,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/but-da-quang-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bút lông bảng Pentel Maxiflo
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 35,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/pencil-marco-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bút chì Macro
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 72,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/but-ky-parker-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bút ký Parker
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 480,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol
                        .product-item.col-6
                            .product-image
                                a(href="#")
                                    img(src="../../assets/images/", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#")
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount &nbsp;
                                        span.woocommerce-price-currencySymbol