section.product-content
    //- tab links
    .tabs
        .tabbed-product
            ul.nav-center.nav.navbar.tab-links
                li.active
                    a(href="#tab_dung-cu-van-phong") dụng cụ văn phòng
                li
                    a(href="#tab_giay") giấy
                li
                    a(href="#tab_bia_ho_so") bìa hồ sơ
                li
                    a(href="#tab_but_viet") bút viết
                li
                    a(href="#tab_tap_so") tập sổ
        //- tab content
        .wrapper-product
            .tab-content
                #tab_dung-cu-van-phong.tab.active
                    .row
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/rope-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Dây thừng lớn
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 8,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/DraftingCompass-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Compa kỹ thuật
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 50,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/YP003-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Keo khô
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 140,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/scotch-magic-810-invisible-tape-19mm-x-33m-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Băng keo dán tiền
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 45,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .w-100
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/jumbo-push-pins-100-count-colorful-clear-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đinh ấn màu
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 10,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/kb-23-23-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Kim bấm 23/23 – 190 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 30,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/ban-cat-giay-a3-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bàn cắt giấy A3
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 210,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/bam_lo_978-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bấm 2 lổ 978 – 30 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 90,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/bk-50la-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Bấm kim 50LA – 210 tờ
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 350,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ

                #tab_giay.tab
                    .row
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .w-100
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                #tab_bia_ho_so.tab
                    .row
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .w-100
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                #tab_but_viet.tab
                    .row
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .w-100
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                #tab_tap_so.tab
                    .row
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .w-100
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ
                        .product-item.col-lg.col-md-3.col-sm-6
                            .product-image
                                img(src="../../assets/images/Deli-7510-600x600.jpg", alt="")
                            .product-text
                                .title-wrapper
                                    a(href="#") Đóng số 10 tự động
                                .price-wrapper
                                    span.price
                                        span.woocommerce-price-amount 800,000&nbsp;
                                        span.woocommerce-price-currencySymbol đ



