.container
    .product-page-title
        .nav.breadcrumbs
            a(href="#") Trang Chu
            span.divider /
            a(href="#") Trang Chu
            span.divider /
            a(href="#") Trang Chu